
#kysely {
	padding-top: 50px;
	margin: auto;
	width: 100px;
    text-align: left;
}

#gametable {
	margin: auto;
    width: 55%;
	padding-top: 50px;
	z-index: -1;
}

.cell {
	padding: 20px;
	text-align: center;
}

#pietimerArea {
    position: fixed;
    left: 50%;
	margin-left: -250px;
	top: 320px;
	z-index: 1;
}

#kysely{
	width: 300px;
}

.circle, #cellCircle1, #cellCircle2, #cellCircle3, #cellCircle4, #cellCircle5, #cellCircle6, #cellCircle7, #cellCircle8, #cellCircle9 {
	margin: auto;
	width: 300px;
	height: 300px;
	background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #000000)); /* safari4+,chrome */
	background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, #ffffff 0%, #000000 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, #ffffff 0%, #000000 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 ); /* ie6-9 *//
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}


#forwardButton {
  background: #0099ff;
  background-image: -webkit-linear-gradient(top, #0099ff, #11232e);
  background-image: -moz-linear-gradient(top, #0099ff, #11232e);
  background-image: -ms-linear-gradient(top, #0099ff, #11232e);
  background-image: -o-linear-gradient(top, #0099ff, #11232e);
  background-image: linear-gradient(to bottom, #0099ff, #11232e);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  border: solid #1f6c9c 4px;
  text-decoration: none;
}

#forwardButton:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #0b5c91);
  background-image: -moz-linear-gradient(top, #3cb0fd, #0b5c91);
  background-image: -ms-linear-gradient(top, #3cb0fd, #0b5c91);
  background-image: -o-linear-gradient(top, #3cb0fd, #0b5c91);
  background-image: linear-gradient(to bottom, #3cb0fd, #0b5c91);
  text-decoration: none;
}



